body {
  width: 1000px;
  background-color: lightseagreen;
}

#parent {
  margin-top: 181px;
  margin-bottom: 181px;
  margin-left: 200px;
  margin-right: 100px;
  display: grid;
  /* border: solid black; */
  grid-template-columns: 400px 700px;
  grid-template-rows: 600px;
}

.sideOne {
  /* border: solid; */
}

.sideTwo {
  background-color: lightgreen;
  /* border: solid; */
}

h1 {
  text-align: center;
}

input {
  width: 250px;
  height: 40px;
}

label {
  display: flex;
  justify-content: top;

}

.firstLabel {
  margin-left: 50px;
}

.secondLabel {
  margin-top: -65px;
  margin-left: 50px;
}

.thirdLabel {
  margin-top: 50px;
  margin-left: 375px;
}

.genders {
  margin-left: 50px;
  margin-top: 50px;
}

button {
  width: 125px;
  height: 40px;
}

button:hover {
    background-color: lightseagreen;
  }

.spayedOrNeutered {
  margin-left: 375px;
  margin-top: -60px;
}

.weight {
  margin-top: 50px;
  margin-left: 50px;
}

.btn-one {
  width: 145px;
}

.btn-two {
  width: 145px;
}

.btn-three {
  width: 140px;
}

.btn-four {
  width: 140px;
}

img {
  width: 100px;
}

.uploadPhotoImg {
  margin-left: 375px;
  margin-top: -90px;  
}

.dogImg {
  width: 400px;
}

.photoLabel {
  margin-left: 500px;
  margin-top: -60px;
}