body {
  width: 1000px;
}

#parent {
  margin-top: 181px;
  margin-bottom: 181px;
  margin-left: 200px;
  margin-right: 200px;
  display: grid;
  /* border: solid black; */
  grid-template-columns: 400px 700px;
  grid-template-rows: 600px;
}

.sideOne {
  /* border: solid; */
}

.sideTwo {
  background-color: lightgreen;
  /* border: solid; */
}

h1 {
  text-align: center;
}

input {
  width: 250px;
  height: 40px;
}

label {
  display: flex;
  justify-content: top;
}

.firstLabel {
  margin-left: 50px;
}

.secondLabel {
  margin-top: 50px;
  margin-left: 50px;
}

.thirdLabel {
  margin-left: 375px;

}